#gridPane {
    -fx-background-image: url("/images/background2.jpg");
    -fx-opacity: 1;
}

#titleLabel {
    -fx-background-color: #9d0a8a;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-text-fill: #d0b311;
    -fx-font-size: 40px;
}

.button {
    -fx-background-color: #9d0a8a;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-text-fill: #d0b311;
    -fx-font-size: 26px;
}

.button:hover {
    -fx-background-color: #55034a;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-text-fill: #ffffff;
}

#createDeck {
    -fx-font-size: 20px;
}

#pane {
    -fx-background-color: #6b6767;
    -fx-opacity: 1;
}

#scroll {
    -fx-background-color: #6b6767;
    -fx-opacity: 0.7;
}

.label {
    -fx-font-family: "Harlow Solid Italic";
}
