.label {
    -fx-background-color: #9d0a8a;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-text-fill: #d0b311;
    -fx-font-size: 20px;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: white;
    -fx-font-size: 18px;
    -fx-border-color: orange;
    -fx-border-style: solid;
    -fx-border-width: 2;
}

#back {
    -fx-background-color: #9d0a8a;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-text-fill: #d0b311;
    -fx-font-size: 20px;
}