#allCardsPane {
    -fx-background-image: url("/images/back3.png") ;
    -fx-background-position: center;
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
}

.label {
    -fx-background-color: #9d0a8a;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-text-fill: #d0b311;
}

.button {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 3;
    -fx-border-color: orange;
}

#mainDeck {
    -fx-background-image: url("/images/back3.png") ;
    -fx-background-position: center;
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
}

#sideDeck {
    -fx-background-image: url("/images/back3.png") ;
    -fx-background-position: center;
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
}