#allCardsPane {
    -fx-background-image: url("/images/background2.jpg") ;
}

.label {
    -fx-background-color: #9d0a8a;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-text-fill: #d0b311;
}

.button {
    -fx-background-color: white;
}